#bodyHome {
    background-color: #561919;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/*#bodyHome::before {
    background-color: rgba(0,0,0,0.2);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/
h1 {
    margin-top: 600px;
    margin-bottom: 100px;
    z-index: 3;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.90rem;
    position: sticky;
    color: whitesmoke;
}

.hero-section .container {
    z-index: 1;
    position: relative;
}

#carouselNp {
    margin-top: 5%;
    position: sticky;
}

#carouselExampleCaptions {
    position: absolute;
    width: 100%;
    top: 100px; 
    z-index: 2; 
}

.carousel-item img {
    width: auto; 
    height: 500px;
    object-fit: scale-down; 
  }
